body {
  height: 100%;
  background-color: #aaa;
  box-sizing: border-box;
}
#container {
  height: 100%;
  width: 100%;
}
#title {
  text-align: center;
  color:#333;
  padding: 30px 0;
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  text-shadow: -1px -1px white;
}
#workspace {
  width: 600px;
  height: 300px;
  background-color: #ffffe0;
  margin: 0 auto;
  padding: 40px 40px;
  box-shadow: 0 0 8px black;
}
#colour_palette {
  float:left;
}
.colour {
  height: 35px;
  width: 35px;
  border: 1px solid black;
  margin-bottom: 20px;
  cursor: pointer;
}
#red {
  background-color: rgb(255,0,0);
}
#blue{
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#white {
  background-color: white;
}
#canvas{
  float: right;
  border: 1px solid black;
  width: 500px;
  height: 300px;
}
.row{
  width: 500px;
  float: left;
  border-bottom: 7px solid black;
}
.exception {
  border-bottom: 0;
}
.height_1{
  height: 25%;
  box-sizing: border-box;
}
.height_2{
  height: 35%;
  box-sizing: border-box;
}
.height_3{
  height: 10%;
  box-sizing: border-box;
}

.height_4{
  height: 30%;
  box-sizing: border-box;
}
.col1{
  box-sizing: border-box;
  height: 100%;
  width: 15%;
  border-right: 7px solid black;
  float: left;
}
.col2{
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  border-right: 7px solid black;
  float: left;
}
.col3{
  box-sizing: border-box;
  height: 100%;
  width: 20%;
  border-right: 7px solid black;
  float: left;
}
.col4{
  box-sizing: border-box;
  height: 100%;
  width: 35%;
  float: left;
}
#color_chosen {
  visibility: hidden;
}